/* useful colors
grey for circle: #E3E3E3
*/
/* don't use provided image for grey circle - use div with 50% radius and make it grey */

.about-us-wrapper {
  background-color: #3F3F3F;
}

.about-us-wrapper ul {
  list-style-type: none;
  color: #ACACAC;
  font-size: .75em;
}

.about-us-main {
  text-align: center;
  padding: 5em;
  background-color: #313131;
}

/* .fun-articles, .team-bio {
  max-width: 25%;
  margin-top: 2em;
  padding: 2em;
  text-align: center;
} */

.fun-articles, .team-bio {
  margin: 2em 1em;
  padding: 1em;
  text-align: center;
  max-width: 200px;
}

.team-article {
  text-align: center;
}

.team-article h3 {
  font-size: 3em;
  font-weight: lighter;
}

.team-bio img {
  margin-top: 3.3em;
}

.team-icons {
  color: #ACACAC;
}

.grey-circle {
  background-color: #E3E3E3;
  border-radius: 50%;
  height: 9em;
  width: 9em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about-us-desc-2{
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
}

footer{
  padding-left: 15px;
}

.f-copyright-bg {
  padding-left: 15px;
}
