/*------useful colors----------
dark black background: #313131
black background: #3F3F3F

tannish letters: #BDA87E
grey letters: #ACACAC
-------------------------------*/

ul {
  list-style-type: none;
}

.box {
   background-color: #313131;
   color: #ACACAC;
   font-family: Helvetica, sans-serif;
   font-size: 13px;
 }

 .tan {
   color: #BDA87E;
 }

.row-copyright {
  background-color: #3F3F3F;
}

.fas, .far {
  color: #BDA87A;
}

.footer-logo {
  width: 15%;
  margin: 0 auto;
}

.fa-caret-right {
  color: #ACACAC;
}
