/*------useful colors----------
dark black background: #313131
black background: #3F3F3F

tannish letters: #BDA87E
grey letters: #ACACAC

border-bottom color: rgba(68, 68, 68, .75)
read-more grey: #636363
-------------------------------*/

footer ul {
  list-style-type: none;
}

footer tr {
  border-bottom: 1px solid rgba(68,68,68,.75);
}

footer td {
  padding: 10px;
}

footer .fa-caret-right {
  color: #ACACAC;
}

footer .fas, .far {
  color: #BDA87A;
}

footer .box {
   background-color: #313131;
   color: #ACACAC;
   font-family: Helvetica, sans-serif;
   font-size: 8px;
   font-weight: lighter;
 }

.footer-logo {
  margin-top: 80px;
}

.footer-logo img{
  width: 50%;
}

footer .read-more {
  color: #636363;
}

footer .row-copyright {
  background-color: #3F3F3F;
}

footer .tan {
  color: #BDA87E;
  text-align: right;
}
