/*------useful colors----------
dark black background: #313131
black background: #3F3F3F

tannish letters: #BDA87E
grey letters: #ACACAC

border-bottom color: rgba(68, 68, 68, .75)
read-more grey: #636363

background image: background-texture.png
-------------------------------*/

/* max-width must be set to use center-block class */

/* replace blue and green placeholder colors */

article > p {
  color:#ACACAC;
  font-weight: 200;
}

.previews h4 {
  color: black;
}

.row .previews{
  /* width: 100%; */
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
}

.fun-articles {
  max-width: 25%;
  margin-top: 2em;
  padding: 2em;
}

.main-article {
  text-align: center;
}

.previews .light-tan {
  /* color: #BDA87E; */
}

section .about-article {
  text-align: center;
}

.about-article {
  border: 5px solid #313131;
  font-size: .75em;
  padding: 2em 2em 0 2em;
  width: 31%;
  margin: 1%;
}

.about-article h3{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3em;
  color: #3F3F3F;
}

.news-holder,
.announcement-holder,
.product-holder {
  border: 1px solid #ACACAC;
  margin-top: 20px;
  background-color: #fff;
  font-size: .8em;
  padding: 1.5em;
  margin-left: 10px;
}

.home-2-carousel{
  padding: 10px;
}

.home-2-carousel h5{
  margin: 0;
}

#myCarousel .home-2-carousel-indicators {
  top: .5em;
  text-align: right;
}

#myCarousel .home-2-carousel-indicators li{
  display: inline-block;
  background-color: #ACACAC;
  border: 1px solid #ACACAC;
}

.green {
  color: rgb(79, 167, 102);
}

.blue {
  color: rgb(32, 152, 219);
}

.view-all {
  color: #ACACAC;
  border: 1px solid #ACACAC;
}

/* Natalia */
.news-holder{
  /* padding: 0; */
  margin-right: 50px;
}
.news-holder-row{
  /* padding: 0; */
  margin-bottom: 20px;
}

.media-object{
  padding: 0;
  margin-bottom: 18px;
}
.carousel-inner hr{
  margin: 10px 0;
}
