/*------useful colors----------
dark black background: #313131
black background: #3F3F3F

tannish letters: #BDA87E
grey letters: #ACACAC

border-bottom color: rgba(68, 68, 68, .75)
read-more grey: #636363

background image: background-texture.png
-------------------------------*/

/* max-width must be set to use center-block class */

/* replace blue and green placeholder colors */

article > p {
  color:#ACACAC;
  font-weight: 200;
}

.row .previews{
  /* width: 100%; */
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
}

.fun-articles {
  max-width: 25%;
  margin-top: 2em;
  padding: 2em;
}

.main-article {
  max-width: 75%;
  text-align: center;
}

.light-tan {
  color: #BDA87E;
}

section .about-article {
  text-align: center;
}

.about-article {
  border: 5px solid #313131;
  font-size: .75em;
  max-width: 30%;
  margin: 2px;
  padding: 2em 2em 0 2em;

}

.about-article h3{
  font-size: 1.3em;
  color: #3F3F3F;
}

.news-holder, .announcement-holder, .product-holder {
  border: 1px solid #ACACAC;
  margin: .5em;
  padding: .5em;
}

.carousel-indicators {
  top: .5em;
  text-align: right;
}

.carousel-indicators li{
  display: inline-block;
  background-color: #ACACAC;
  border: 1px solid #ACACAC;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.view-all {
  color: #ACACAC;
  border: 1px solid #ACACAC;
}
