/*------useful colors----------
dark black background: #313131
black background: #3F3F3F

tannish letters: #BDA87E
grey letters: #ACACAC

border-bottom color: rgba(68, 68, 68, .75)
read-more grey: #636363

background image: background-texture.png
-------------------------------*/

.news-landing-carousel {
  margin-top: 80px;
  background-color: #363636;
  height: 250px;
  padding: 1em;
}

.news-landing-carousel li{
  display: inline-block;
}

.news-landing-carousel .carousel-indicators {
  transform: rotate(90deg);
  bottom: 1px;
  width: 100%;
  height:100%;
  left: 60%;
}

.news-landing-carousel h5 {
  color: #fff;
  font-size: 1.5em;
}

.news-landing-carousel h6 {
  color: #ACACAC;
}

.align-bottom {
  margin-top: 4em;
}

.thumbnail{
  height: 10em;
  text-align: center;
  background-color: #e1e1e1;
}

.img-center {
  margin-top: 20%;
}

.margin-row {
  margin-top: 1em;
}

.news-article-previews {
  background-color: #f7f7f7;
  padding: 1em;
}

article .news-read-more {
  background-color: #BDA87E;
  color: #fff;
  border-radius: 0;
}

.black-preview {
  background-color: #363636;
  text-align: center;
  padding: 1em;
  height: 24.5em;
  padding-top: 4em;
  color: #ACACAC
}

.black-preview p {
  color: #fff;
  font-size: 1.1em;
  font-weight: bold;
  font-family: Garamond;
}

.view-all-news {
  margin-top: 2em;
  margin-bottom: 2em;
}
.thumbnail iframe{
  width: 100%;
  height: 100%;
}
