/*------useful colors----------
dark gray background: #363636;
black (very dark gray) background: #313131;
grey text: #acacac;
gray text on dark background: #c8c8c8;
dark gray text #464646;
carrot text #c2c2c2;
black: #000000;
gold text: #c0a878;
social media icons #d7d7d7;
button: #7d7d7d;
box borders #ebebeb;
-------------------------------*/

.wc-weather{
  background: linear-gradient(to bottom right, rgb(235, 219, 142), rgb(235, 164, 22));
  height: 180px;
  margin-bottom: 5px;
  padding: 15px;
}

.wc-gallery{
  background: linear-gradient(to bottom right, rgb(130, 130, 130), rgb(58, 58, 58));
  height: 115px;
  margin-bottom: 5px;
  padding: 15px;
}

.wc-virtual-tour{
  background: #ebebeb;
  height: 125px;
  padding: 15px;
  margin-bottom: 2em;
}

.card-wrapper{
  width: 135px;
  margin:auto;
  text-align: left;
}

.wc-weather h3{
  color: white;
  margin: 0px;
  font-size: 16px;
}

.wc-weather h2{
  color: white;
  margin: 0px;
  font-size: 24px;
}

.wc-gallery h3{
  color: white;
  margin: 0px;
  font-size: 16px;
}

.wc-virtual-tour h3{
  color: #757575;
  margin: 0px;
  font-size: 16px;
}

.wcard-sun{
  margin-top: 1em;
  margin-bottom: 1em;
  width: 5em;
}

.wcard-gallery{
  margin-top: 1.5em;
  width: 3.5em;
}

.wcard-360vt{
  margin-top: 1.5em;
  width: 6em;
}

.card-wrapper img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
