.card-wrapper{
  width: 250px;
  height: 300px;
  margin: auto;
  background: linear-gradient(to bottom right, rgb(231, 209, 106), rgb(239, 148, 0));
  border: 1px solid red;
}
.card-body{
  padding: 15px;
}
.card-body h3{
  margin: 10px 0;
  color: #fff;
  font-family: sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
}
.sun-body{
  width: 100px;
  height: 100px;
  margin: auto;
  border: 5px solid white;
  border-radius: 50%;
  position: relative;
}
.sun-body div{
  width: 5px;
  height: 15px;
  /* border: 1px solid red; */
  background-color: white;
  position: absolute;
}
.one{
  top: -30px;
  right: 50px;
}
.two{
  bottom: -30px;
  left: 50px;
}
.three{
  top: 40px;
  left: -30px;
  transform: rotate(90deg);
}
.four{
  top: 40px;
  right: -30px;
  transform: rotate(90deg);
}
.five{
  top: 0;
  right: -20px;
  transform: rotate(40deg);
}
.six{

}
.seven{

}
.eight{

}

/* .rays::after{
  width: 5px;
  height: 15px;
  top: 90%;
  right: 90%;
  background-color: white;
  border: 1px solid blue;
  transform: rotate(250deg);
}
.rays::before{
  width: 5px;
  height: 15px;
  top: 50%;
  left: 10%;
  background-color: white;
  border: 1px solid green;
}
.rays::after,
.rays::before {
  width: 5px;
  height: 15px;
  content:"";
  bottom: -50%;
  position: absolute;
  transform: rotate(90deg);
} */
.temp{
  color: white;
  font-family: sans-serif;
}
.temp h2{
  font-size: 1.6em;
  letter-spacing: 2px;
  margin-top: 10px;
}
.temp h3{
  font-size: 1.3em;
  margin: 10px 0;
}
